name: Publish cloud-passport-cli python module to PyPI

on: 
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      package_name: 'qubership-cloud-passport-cli'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user pipx
        pipx install poetry

    - name: Build & Test
      run: |
        poetry install
        poetry run pytest

    - name: Publish package
      run: |
        poetry publish --build --no-interaction